{
    "singleQuote": true,
    "useTabs": true,
    "tabWidth": 2,
    "semi": false,
    "rangeEnd": 80,
    "rangeStart": 0,
    "singleAttributePerLine": true,
    "printWidth": 100,
    "jsxSingleQuote": false
}